
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_admin.cshtml";
}

<h2>Delete</h2>
<div>
    <dl class="">
        <dt class="ten">
            Tên Sản Phẩm
        </dt>
        <dt class="anh">
            Ảnh

        </dt>

        <dt class="dongia">
            Đơn giá

        </dt>

        <dt class="khuyenmai">
            Khuyến Mãi
        </dt>

        <dt class="giaban">
            Giá Bán

        </dt>

        <dt class="mota">
            Mô Tả
        </dt>
        <dt class="loai">
            Loại Sản phẩm
        </dt>

        <dt class="hang">
            Hãng Sản Xuất
        </dt>
        <dt class="kho">
            Kho
        </dt>

    </dl>

   
        <div class="form-actions no-color">
            <input type="submit" value="Ngưng bán" class="btn btn-default xoa" onclick="Xoa()" />           |
            @Html.ActionLink("Trở lại", "Index")|
        </div>
    



</div>
<p>

</p>
<script type="text/javascript">
    $(document).ready(function () {
        Load();

    });
    function Load() {
        var id =@ViewBag.id
            $.ajax({

                url: "/SanPham/GetSanPhamTheoId/" + id,
                data: id,
                typr: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (abc) {
                    var data = JSON.parse(abc);
                    $(".ten").after(
                        "<dd>" + data.tenSanPham + "</dd>"
                    );
                    $(".anh").after(
                        "<dd>" + "<img " + "src=" + `"/image/${data.anh}"` + `width="${100}""` + " /> " + "</dd>"
                    );
                    $(".dongia").after(
                        "<dd>" + data.donGia + "</dd>"
                    );
                    $(".khuyenmai").after(
                        "<dd>" + data.khuyenMai + "</dd>"
                    );
                    $(".giaban").after(
                        "<dd>" + data.giaBan + "</dd>"
                    );
                    $(".mota").after(
                        "<dd>" + data.moTa + "</dd>"
                    );
                    $(".loai").after(
                        "<dd>" + data.loaiSp + "</dd>"
                    );
                    $(".hang").after(
                        "<dd>" + data.hang + "</dd>"
                    );
                    $(".kho").after(
                        "<dd>" + data.kho + "</dd>"
                    );
                }

            });
    }

    function Xoa() {
         var id =@ViewBag.id
        $.ajax({
            url: 'https://localhost:44355/SanPham/NgungBanSP/' +@ViewBag.id,
            data: id,
            type: 'Post',

            success: function () {
                alert("Đã Ngưng Bán")
                window.location.replace("/SanPham/Index")
            }
        })
    }
</script>

